### 필터링
다음 데이터프레임에서 현재가가 1500 이상인 값만 가져와보세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [22]:
import pandas as pd

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

df[df['현재가'] > 1500]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### 필터링

위 데이터프레임에서 현재가가 1,500원 이상이면서 1,700원 미만인 값만 필터링 해보세요.

In [23]:
#위키백과에서 제시한 답

cond = (df['현재가'] >=1500) & (df['현재가'] < 1700)
df[cond]

       종목명   현재가   등락률
종목코드
037730  3R  1510  7.36

### 컬럼 추가

다음 데이터프레임에 목표가 컬럼을 추가하세요. 목표가는 현재가에서 10% 상승한 가격입니다.

import pandas as pd

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  

columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [24]:
df['목표가'] = df['현재가'] * 1.1

df

          종목명   현재가   등락률     목표가
종목코드
037730     3R  1510  7.36  1661.0
036360  3SOFT  1790  1.65  1969.0
005760   ACTS  1185  1.28  1303.5

### 로우추가

데이터프레임에 LG전자의 데이터를 추가하세요.

In [25]:
data2 = {
    '종목코드': "066570",
    '종목명': "LG전자",
    '현재가': 6000,
    '등락률': 3.84
}

df = df.append(data2, ignore_index=True)

df

C:\Users\justi\AppData\Local\Temp\ipykernel_14648\3914247183.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data2, ignore_index=True)

     종목명   현재가   등락률     목표가    종목코드
0     3R  1510  7.36  1661.0     NaN
1  3SOFT  1790  1.65  1969.0     NaN
2   ACTS  1185  1.28  1303.5     NaN
3   LG전자  6000  3.84     NaN  066570

### 데이터 프레임 컬럼명 변경(columns 속성)

df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

생성된 데이터프레임에서 columns 속성을 사용하여 컬럼명을 'a', 'b', 'c'로 변경하세요.

In [36]:
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

df.columns = ['a', 'b', 'c']
              
df.columns

Index(['a', 'b', 'c'], dtype='object')

### 데이터 프레임 컬럼명 변경 (rename 메소드)

df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])  
생성된 데이터프레임에서 rename 메소드를 사용해서 컬럼 'A'를 'a'로 변경해보세요.

In [38]:
df = pd.DataFrame(data = [[1, 2, 3], [4, 5, 6]], columns=["A", "B", "C"])

df.rename(columns = {'A':'a', 'B':'b', 'C':'c'}, inplace=True) #inplace=True로 해야지 실제 값도 변경이 됨
df

   a  b  c
0  1  2  3
1  4  5  6

### name 속성

다음 데이터프레임의 index의 name 속성을 'year'로 columns의 name 속성을 'company'로 변경하세요.

In [39]:
import pandas as pd  
import numpy as np  

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}  
index = [2019, 2020, 2021]  
df = pd.DataFrame(data=data, index=index)

In [41]:
# 위키백과에서 제시한 답

df.index.name = "year"
df.columns.name= "company"

df

company    카카오  NAVER
year
2019       NaN     52
2020     221.0     47
2021      35.0      3

### 데이터프레임 drop

데이터프레임에서 'NAVER' 컬럼을 삭제하세요.

import pandas as pd  
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}  
index = [2019, 2020, 2021]  
df = pd.DataFrame(data=data, index=index)  
df

In [44]:
import pandas as pd
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)

df.drop(columns='NAVER')

        카카오
2019    NaN
2020  221.0
2021   35.0

### 데이터프레임 drop

다음 데이터프레임에서 '카카오'와 'NAVER' 컬럼을 삭제하세요.

In [54]:
import pandas as pd
import numpy as np

data = {"카카오": [np.nan, 221, 35], "NAVER": [52, 47, 3]}
index = [2019, 2020, 2021]
df = pd.DataFrame(data=data, index=index)
                  
#위키백과에서 제시한 답
df.drop(['NAVER', '카카오'], axis=1)

Empty DataFrame
Columns: []
Index: [2019, 2020, 2021]