### 시리즈 sum 메소드

다음은 삼성전자의 종가 데이터입니다. 데이터를 시리즈로 표현한 후 증가 데이터의 합을 출력해보세요.

In [1]:
import pandas as pd

data = [73400, 72900, 73900, 71700, 72900]
index = ["2020-12-07", "2020-12-08", "2020-12-09", "2020-12-10", "2020-12-11"]
s = pd.Series(data, index)

s.sum()

364800

### 시리즈 mean 메소드

다음은 삼성전자의 종가 데이터입니다. 데이터를 시리즈로 표현한 후 종가 데이터의 평균을 출력하세요.

In [3]:
import pandas as pd

data = [73400, 72900, 73900, 71700, 72900]
index = ["2020-12-07", "2020-12-08", "2020-12-09", "2020-12-10", "2020-12-11"]
s = pd.Series(data, index)

s.mean()

72960.0

### 시리즈 product 메소드

다음은 일별 수익률을 배(ratio)율로 표현한 데이터입니다. 각 거래일의 수익률을 모두 곱한 값을 출력하세요.

In [4]:
import pandas as pd

data = [1.01, 0.99, 1.03, 1.02, 1]
index = ["2020-12-07", "2020-12-08", "2020-12-09", "2020-12-10", "2020-12-11"]
s = pd.Series(data, index)

s.product()

1.05049494

### 시리즈 max/min 메소드

다음은 삼성전자의 종가 데이터입니다. 데이터를 시리즈로 표현한 후 종가 데이터의 최댓값과 최솟값을 출력하세요.

In [6]:
import pandas as pd

data = [73400, 72900, 73900, 71700, 72900]
index = ["2020-12-07", "2020-12-08", "2020-12-09", "2020-12-10", "2020-12-11"]
s = pd.Series(data, index)

print("최댓 값: ", s.max())
print("최솟 값: ", s.min())

최댓 값:  73900
최솟 값:  71700