### 데이터프레임 인덱스 설정

다음 데이터프레임에서 종목코드 컬럼을 인덱스로 설정하세요. 그리고 인덱스의 name 속성을 "종목코드"로 설정하세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)

In [8]:
import pandas as pd

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)

df = df.set_index("종목코드")
df

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005760   ACTS  1185  1.28

### data, index, columns

다음과 같이 데이터가 있을 때 데이터프레임 객체를 생성하세요.

In [15]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]

df = pd.DataFrame(data=data, index=index, columns=columns)
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

### reset_index

다음 데이터프레임에서 인덱스를 컬럼으로 변경하세요.

import pandas as pd

index = ["037730", "036360", "005760"]  
data = [["3R", "1510"],  
         ["3SOFT", 1790],  
         ["ACTS", 1185]]  
columns = ["종목명", "현재가"]  
df = pd.DataFrame(data=data, index=index, columns=columns

In [26]:
import pandas as pd

index = ["037730", "036360", "005760"]
data = [["3R", "1510"],
         ["3SOFT", 1790],
         ["ACTS", 1185]]
columns = ["종목명", "현재가"]
df = pd.DataFrame(data=data, index=index, columns=columns)

df.reset_index()

    index    종목명   현재가
0  037730     3R  1510
1  036360  3SOFT  1790
2  005760   ACTS  1185

### index

위 데이터프레임의 인덱스를 출력하세요.

In [27]:
df

          종목명   현재가
037730     3R  1510
036360  3SOFT  1790
005760   ACTS  1185

In [28]:
print(df.index)

Index(['037730', '036360', '005760'], dtype='object')

### DataFrame.coulmns

위 데이프레임의 컬럼을 출력하세요.

In [29]:
print(df.columns)

Index(['종목명', '현재가'], dtype='object')

### DataFrame dtype

다음 데이터를 부호가 없는 8비트 정수 데이터 타입을 갖는 데이터프레임 객체로 생성하세요.

d = {'col1': [1, 2], 'col2': [3, 4]}

In [33]:
#위키백과에서 제시한 답
import numpy as np
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d, dtype=np.int8)

df

   col1  col2
0     1     3
1     2     4