### 데이터프레임 컬럼 접근

데이터프레임에서 현재가 컬러만 출력해보세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [4]:
import pandas as pd

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df['현재가']

종목코드
037730    1510
036360    1790
005760    1185
Name: 현재가, dtype: int64

### 컬럼 인덱싱

데이터프레임에서 현재가 컬럼을 인덱싱하는데 이를 데이터프레임 타입이 되도록 하세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
] 
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)

In [7]:
data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
] 
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)

df[['현재가']]

    현재가
0  1510
1  1790
2  1185

### 데이터프레임 멀티 컬럼 접근

다음 데이터프레임에서 "현재가"와 "등락률" 컬럼을 인덱싱해보세요.

In [8]:
df[['현재가', '등락률']]

    현재가   등락률
0  1510  7.36
1  1790  1.65
2  1185  1.28

### 데이터프레임 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 0본째 행을 출력해보세요.

In [9]:
df.iloc[0]

종목코드    037730
종목명         3R
현재가       1510
등락률       7.36
Name: 0, dtype: object

### 데이터프레임 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 가장 아래쪽의 행을 출력해보세요.

In [11]:
df.iloc[-1]

종목코드    005760
종목명       ACTS
현재가       1185
등락률       1.28
Name: 2, dtype: object

### 데이터프레임 로우 접근 (iloc 속성)

데이터프레임에서 iloc 속성을 사용하여 0번째, 2번째 행을 출력해보세요.

In [13]:
df.iloc[[0, 2]]

     종목코드   종목명   현재가   등락률
0  037730    3R  1510  7.36
2  005760  ACTS  1185  1.28

### 특정 값 가져오기 (iloc)
위 데이터프레임에서 037730 종목의 등락률을 출력하세요.

In [40]:
import pandas as pd

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
] 
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)

df.iloc[0, 2]

1510