### 특정 값 가져오기 (loc)

다음 데이터프레임에서 037730 종목의 등락률을 출력하세요.

data = [  
    ["037730", "3R", 1510, 7.36],  
    ["036360", "3SOFT", 1790, 1.65],  
    ["005760", "ACTS", 1185, 1.28],  
]  
columns = ["종목코드", "종목명", "현재가", "등락률"]  
df = pd.DataFrame(data=data, columns=columns)  
df.set_index('종목코드', inplace=True)

In [6]:
import pandas as pd

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.loc["037730", "등락률"]

7.36

### iloc 슬라이싱

위 데이터프레임에서 iloc 속성을 사용하여 첫번째, 두번째 행을 슬라이싱하세요.

In [9]:
import pandas as pd

data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]
columns = ["종목코드", "종목명", "현재가", "등락률"]
df = pd.DataFrame(data=data, columns=columns)
df.set_index('종목코드', inplace=True)

df.iloc[[0, 1]]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### loc 슬라이싱

위 데이터프레임에서 loc 속성을 사용하여 첫번째, 두번째 행을 슬라이싱하세요.

In [13]:
df.loc[["037730", "036360"]]

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65

### 컬럼 인덱싱(iloc)

위 데이터프레임에서 iloc 속성을 사용하여 첫번째 컬럼을 인덱싱하세요.

In [22]:
#위키백과에서 제시한 답
df.iloc[:, 0]

종목코드
037730       3R
036360    3SOFT
005760     ACTS
Name: 종목명, dtype: object

### loc

위 데이터프레임에서 loc 속성을 사용하여 '037730' 종목의 '종목명', '현재가' 컬럼을 선택하세요

In [25]:
df.loc[['037730'], ['종목명', '현재가']]

       종목명   현재가
종목코드
037730  3R  1510

### iloc
위 데이터프레임에서 iloc 속성을 사용하여 '037730' 종목의 '종목명', '현재가' 컬럼을 선택하세요.

In [27]:
df.iloc[0, [0, 1]]

종목명      3R
현재가    1510
Name: 037730, dtype: object