### 시리즈 정렬

시리즈에 저장된 데이터의 순서를 변경하라.

data = [100, 300, 200]  
index = ["08/01", "08/02", "08/03"]  
s = Series(data, index)

In [3]:
import pandas as pd

data = [100, 300, 200]
index = ["08/01", "08/02", "08/03"]
s = pd.Series(data, index)

s.sort_values()

08/01    100
08/03    200
08/02    300
dtype: int64

### 시리즈 정렬

시리즈에 정장된 데이터를 오름차순 혹은 내림차순으로 정렬하라.

randint 함수는 지정된 범위(10)에서 임의의 숫자를 생성해서 numpy의 ndarray 객체로 반환합니다. 실행할 때마다 다른 값이 출력되는데, 이는 정상입니다.

import numpy as np

data = np.random.randint(10, size=4)  
s = Series(data)

In [15]:
import numpy as np

data = np.random.randint(10, size=4)
s = pd.Series(data)
s.sort_values()

1    3
2    6
0    7
3    8
dtype: int32

### 시리즈 정렬

인덱스를 기준으로 a, b, c 순서로 데이터를 정렬하라.

s = Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])

In [16]:
s = pd.Series(np.random.randint(10, size=4), ["b", "c", "a", "d"])
s.sort_index()

a    5
b    1
c    3
d    8
dtype: int32

### 시리즈 연산

시리즈에 네 제곱한 결과를 시리즈로 출력하라.

data = [100, 300, 200]  
s = Series(data)

In [17]:
data = [100, 300, 200]
s = pd.Series(data)

print(s ** 4)

0     100000000
1    8100000000
2    1600000000
dtype: int64

### 시리지의 비교연산

시리즈에서 52000보다 작은 값을 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [21]:
s = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
print(s[s < 52000])

5/1    51500
5/2    51200
dtype: int64

### 시리즈 비교연산

5월 1일 이후의 데이터를 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [22]:
print(s.loc[s.index > "5/1"])

5/2    51200
5/3    52500
dtype: int64

### 시리즈 비교연산

51400원 이상 53000 이하의 값을 출력하라.

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [27]:
#위키백과에서 제시한 답

s = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

one = s >= 51400
second = s <= 53000

print(one & second)

5/1     True
5/2    False
5/3     True
dtype: bool

### 시리즈 비교 연산

시리즈에서 가격이 52000원 이하였던 날은 몇일인가?

s = Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])

In [4]:
import pandas as pd

s = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
print(len(s [s< 52000]))

2