### DataFrame.query

데이터프레임 query 메서드를 사용하여 종가(close)가 시가(oepn)보다 큰 데이터만 가져오세요.

In [8]:
import pandas as pd
import numpy as np

data = [
    {"cd":"A060310", "nm":"3S", "open":2920, "close":2800},
    {"cd":"A095570", "nm":"AJ네트웍스", "open":1920, "close":1900},
    {"cd":"A006840", "nm":"AK홀딩스", "open":2020, "close":2010},
    {"cd":"A054620", "nm":"APS홀딩스", "open":3120, "close":3200}
]
df = pd.DataFrame(data=data)
df = df.set_index('cd')

df['close'] = df['close'].astype(np.int64)

df['open'] = df['open'].astype(np.int64)


#위키백과에서 제시한 답
df.query("close > open")


# 내 답 
#df[df['close'] > df['open']]

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

### DataFrame.query

위 데이터프레임에서 종가(close)가 3,000원 이상인 종목만 출력하세요.

In [12]:
#위키백과에서 제시한 답
df.query('close >= 3000')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

### query 여러 조건

위 데이터프레임에서 시가(open)가 2,000원 이상이고 종가(close)가 시가(oepn) 이상인 종목을 출력하세요.

In [14]:
df.query('open >= 2000 and close >= open')

             nm  open  close
cd
A054620  APS홀딩스  3120   3200

### query와 str.startswith

위 데이터프레임에서 종목명(nm)이 'A'로 시작하는 종목만 선택하세요.

In [20]:
#위키백과에서 제시한 답

df.query("nm.str.startswith('A')")

             nm  open  close
cd
A095570  AJ네트웍스  1920   1900
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

### query와 str.contains

위 데이터프레임에서 종목명에 '홀딩스'가 포함된 종목만 선택하세요.

In [21]:
df.query("nm.str.contains('홀딩스')")

             nm  open  close
cd
A006840   AK홀딩스  2020   2010
A054620  APS홀딩스  3120   3200

### DataFrame filter

다음 데이터프레임에서 filter 메서드를 사용해서 "PER"과 "PBR" 컬럼만 선택하세요.

data = {  
    "PER": [6.42, 17.63, 21.09, 13.93],  
    "PBR": [1.10, 1.49, 2.06, 1.88],  
    "DPS": [1416, 1716, 2994, 1755]  
}  

index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]  
df = pd.DataFrame(data=data, index=index)

In [6]:
data = {  
    "PER": [6.42, 17.63, 21.09, 13.93],  
    "PBR": [1.10, 1.49, 2.06, 1.88],  
    "DPS": [1416, 1716, 2994, 1755]  
}  

index = ["2019/12", "2020/12", "2021/12", "2022/12(E)"]  
df = pd.DataFrame(data=data, index=index)

df[['PER', 'PBR']]

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

In [5]:
#위키백과에서 제시한 답

df.filter(items=["PER", "PBR"])

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

### DataFrame filter 정규식

위 데이터프레임에서 filter 메서드의 정규식을 사용해서 'PER'과 'PBR' 컬럼을 선택하세요.

In [8]:
#위키백과에서 제시한 답

df.filter(regex="P.R", axis=1)

              PER   PBR
2019/12      6.42  1.10
2020/12     17.63  1.49
2021/12     21.09  2.06
2022/12(E)  13.93  1.88

### 데이터프레임 filter 정규식 (index)

위 데이터프레임에서 filter 메서드를 사용해서 예상치인 '2022/12(E)'를 제외한 나머지 로우 데이터를 선택하세요.

In [9]:
df.filter(regex="12$", axis=0)

           PER   PBR   DPS
2019/12   6.42  1.10  1416
2020/12  17.63  1.49  1716
2021/12  21.09  2.06  2994

### 데이터프레임 filter like

위 데이터프레임에서 "2022"년 데이터만 선택하세요. 2022년 데이터는 인덱스에 '2022'라는 문자열이 포함되어있습니다.

In [11]:
df.filter(like='2022', axis=0)

              PER   PBR   DPS
2022/12(E)  13.93  1.88  1755