### count

다음 시리즈 객체가 있을 때 null이 아닌 값의 개수를 출력하세요.

import numpy as np
import pandas as pd

data = [1, 2, 3, 4, np.nan]
s = pd.Series(data=data)

### 시리즈 데이터 타입 변경

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. 데이터 타입의 문자열로 저장된 경우 숫자와 사칙연산을 수행할 수 없습니다. 시리즈 객체의 데이터 타입을 숫자 타입으로 변경해보세요.

In [18]:
data = ["100", "200", "300"]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

s = s.astype(dtype='int32')

s

철수    100
영희    200
아름    300
dtype: int32

### 시리즈 문자열 replace

다음 시리즈 객체는 문자열 타입의 데이터가 저장돼 있습니다. str.replace 함수를 사용하여 컴마를 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

data = ["100,000", "200,000", "300,000"]   
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [20]:
data = ["100,000", "200,000", "300,000"]
index = ["철수", "영희", "아름"]
s = pd.Series(data, index)

s = s.str.replace(',', '', regex=True)
s = s.astype('int32')

s

철수    100000
영희    200000
아름    300000
dtype: int32

### 시리즈 문자열 인덱싱

다음과 같은 시리즈 객체가 있을 때 values에서 '세' 라는 문자열을 제거한 후 데이터를 'int32' 타입으로 변환해보세요.

s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])

In [26]:
s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s = s.str.replace('세', '')

s = s.astype("int32")

s

김대리    30
이과장    40
박차장    50
dtype: int32

In [25]:
#위키백과에서  제시한 답
s = pd.Series(["30세", "40세", "50세"], index=["김대리", "이과장", "박차장"])
s1 = s.str[:-1]
s1 = s1.astype('int32')
s1

김대리    30
이과장    40
박차장    50
dtype: int32

### reindex

다음 시리즈 객체의 인덱스를 ['a', 'b', 'c', 'd']로 재정렬하세요.


import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])  
s

In [28]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=["d", "c", "a", "b"])
s.reindex(['a', 'b', 'c', 'd'])

a    3
b    4
c    2
d    1
dtype: int64

### list

다음 시리즈 객체의 값을 리스트로 변경하세요.

import pandas as pd  
s = pd.Series([1, 2, 3])

In [30]:
import pandas as pd
s = pd.Series([1, 2, 3])
list(s)

[1, 2, 3]

### dict

다음 시리즈 객체를 딕셔너리 타입으로 변경하세요.

import pandas as pd  
s = pd.Series([1, 2, 3])

In [1]:
import pandas as pd
s = pd.Series([1, 2, 3])
dict(s)

{0: 1, 1: 2, 2: 3}

### dropna

다음 시리즈 객체에서 NaN 값을 제거하세요.

import pandas as pd


s = pd.Series([1, 2, 3, np.nan])

In [4]:
import pandas as pd  
import numpy as np

s = pd.Series([1, 2, 3, np.nan])
s.dropna()

0    1.0
1    2.0
2    3.0
dtype: float64

### Series.map

시리즈의 맵 메서드를 사용하여 시리즈 객체에서 콤마를 제거하세요.

In [5]:
import pandas as pd

s = pd.Series(["1,234", "5,678", "9,876"])

### Series.apply

시리즈 객체의 apply 메서드를 사용 로그(자연수 10을 밑으로 한 로그) 값을 구하세요.

import pandas as pd
import numpy as np

s = pd.Series([10, 100, 100])

In [5]:
import pandas as pd
import numpy as np

s = pd.Series([10, 100, 100])

s.apply(np.log10)

0    1.0
1    2.0
2    2.0
dtype: float64