### dropna

다음과 같이 NaN이 포함된 시리즈 객체에서 NaN 값을 제거하세요.

import numpy as np  
from pandas import Series

data =[1, 2, 3, 4, np.nan]  
s = Series(data=data)  
s

In [5]:
import numpy as np
from pandas import Series

data =[1, 2, 3, 4, np.nan]
s = Series(data=data)

s.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

### nlargest

다음과 같은 시리즈 객체가 있을 때 nlargest 메서드를 사용하여 값이 큰 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)  
s = Series(data=data)  
s

In [12]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s.nlargest(3)

9    10
8     9
7     8
dtype: int64

### nsmallest

다음과 같은 시리즈 객체가 있을 때 nsmallest 메서드를 사용하여 값이 작은 3개를 출력해보세요.

from pandas import Series

data = range(1, 11)  
s = Series(data=data)  
s

In [14]:
from pandas import Series

data = range(1, 11)
s = Series(data=data)
s.nsmallest(3)

0    1
1    2
2    3
dtype: int64

### Series.dt.year

다음 시리즈 객체의 값에서 연도만 가져와 보세요.

import pandas as pd  
from datetime import datetime  
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])

In [16]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)])

s.dt.year

0    2020
1    2021
2    2022
dtype: int64

### 시리즈 시계열 인덱스

다음 시리즈 객체의 인덱스에서 연도만 가져오세요.

import pandas as pd  
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]  
data = [100, 200, 300]  
s = pd.Series(data=data, index=index)

In [18]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)

s.index.year

Int64Index([2020, 2021, 2022], dtype='int64')

### Series.dt.day

다음 시리즈 객체의 값에서 날짜 값만 가져와보세요.

import pandas as pd  
from datetime import datetime  
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])

In [2]:
import pandas as pd
from datetime import datetime
s = pd.Series([datetime(2022,1,1), datetime(2022,1,2), datetime(2022,1,3)])
s.dt.day

0    1
1    2
2    3
dtype: int64

### strftime

다음 시리즈 객체의 인덱스로부터 다음 포맷의 문자열 리스틀을 생성하세요.

Index(['2020-01-01 00:00:00', '2021-01-01 00:00:00', '2022-01-01 00:00:00'], dtype='object')

import pandas as pd  
from datetime import datetime  

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]  
data = [100, 200, 300]  
s = pd.Series(data=data, index=index)

In [10]:
import pandas as pd
from datetime import datetime

index = [datetime(2020,1,1), datetime(2021,1,1), datetime(2022,1,1)]
data = [100, 200, 300]
s = pd.Series(data=data, index=index)
date = s.index.strftime('%Y-%m-%d')
print(date)

Index(['2020-01-01 ', '2021-01-01 ', '2022-01-01 '], dtype='object')

### Series.str.cat

다음 시리즈 객체는 3종목의 종목 코드를 저장하고 있습니다. 이를 다음과 같이 ';'로 구분된 문자열로 생성하세요.
'000020;000040;005930'

import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [12]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])
s.str.cat(sep=';')

'000020;000040;005930'

### 문자열 추가

종목 코드를 저장하고 있는 시리즈 객체의 종목 코드에 'A'를 추가하세요.

import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

In [13]:
import pandas as pd

s = pd.Series(["000020", "000040", "005930"])

'A' + s

0    A000020
1    A000040
2    A005930
dtype: object

### Series.str.zfill

국내 주식은 6자리의 숫자로 구성됩니다. 다음 시리즈 객체는 각 값에서 leading zero가 모두 제가된 상태입니다. 이를 다시 원래 종목 코드로 변환하세요. 예를 들어, "20"은 "000020"이 되어야합니다.

In [15]:
import pandas as pd

s = pd.Series(["20", "40", "5930"])
s.str.zfill(6)

0    000020
1    000040
2    005930
dtype: object