### 모듈 임포트

판다스의 시리즈 클래스를 사용하기 위해 주로 사용ㅎ나는 두 가지 방식으로 임포트해보세요.

In [1]:
import pandas as pd
from pandas import Series

### 시리즈의 생성(리스트)

다음 데이터를 시리즈로 객체로 생성해보세요

In [2]:
score = [100, 200, 300]
score = Series(score)

print(score)

0    100
1    200
2    300
dtype: int64

### 시리즈의 생성 (인덱스 지정)

생성된 시리즈 객체에 인덱스를 추가해보세요.

In [3]:
score[100] = '철수'
score[200] = '영희'
score[300] = '아름'

print(score)

0      100
1      200
2      300
100     철수
200     영희
300     아름
dtype: object

## 시리지의 생성 (딕셔너리)

다음 데이터를 파이썬 딕셔너리로 표현하세요. 딕셔너리의 key로 인덱스를 value로 점수 컬럼을 지정하세요. 생성된 딕셔너리를 사용하여 시리즈 객체를 생성해봅시다.

In [2]:
data = {'철수': 100, '영희': 200, '아름': 300}
score = Series(data)

score

철수    100
영희    200
아름    300
dtype: int64

## 시리즈 생성

다음은 네이버 금융에서 특정 거래일의 인기 종목과 해당 종목의 종가 데이터입니다. 종목명을 인덱스로 하여 종가를 데이터로 지정하여 시리즈 객체를 생성해봅시다.

In [3]:
finance = pd.Series([73000, 356000, 367000, 68600, 34150], index=['삼성전자', '셀트리온', '카카오', '삼성전자우', '현대바이오'])

finance

삼성전자      73000
셀트리온     356000
카카오      367000
삼성전자우     68600
현대바이오     34150
dtype: int64

## 시리즈 데이터

인덱스 없이 시리즈에 저장된 데이터만을 출력해보세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]     
s = Series(data, index)  

결과:  
[100 200 300 400 500 600]

In [12]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
print(s.values)

[100 200 300]

## 시리즈와 딕셔너리

시리즈를 딕셔너리로 변경해 보세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)  

실행 결과:  
{'철수': 100, '영희': 200, '아름': 300}

In [14]:
data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

s.to_dict()

{'철수': 100, '영희': 200, '아름': 300}

## 시리즈와 엑셀

시리즈를 엑셀 파일(data.xlsx)에 저장해보세요.

data = [100, 200, 300]  
index = ["철수", "영희", "아름"]  
s = Series(data, index)

In [15]:
data = [100, 200, 300]
index = ["철수", "영희", "아름"]
s = Series(data, index)
s.to_excel('ser.xlsx')

위 엑셀에서 첫번째 라인을 제거하고 싶다면?

In [16]:
s.to_excel("data.xlsx", header=False)

## 시리즈와 엑셀

엑셀 파일(.xlsx)을 읽어 보세요.

In [19]:
pd.read_excel('data.xlsx')

   철수  100
0  영희  200
1  아름  300